.navButton {
  border: none;
  background-color: white;
  color: black;
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border-radius: 20px;
  font-weight: bold;
}

.navButton:hover {
  background: #eee;
}
.navButton:focus {
  outline: none !important;
  box-shadow: none;
}

.tweet-button {
  border-radius: 20px;
}


